#container {
    width: 70%;
    margin: 0 auto;     /* 가로로 중앙에 배치 */
    padding-top: 10%;   /* 테두리와 내용 사이의 패딩 여백 */
}

#list {
    text-align: center;
}

#write {
    text-align: center;
}

/* Bootstrap 수정 */

.table > thead > tr > th {
    text-align: center;
}

.table > tbody > tr > td {
    text-align: center;
}
.table > tbody > tr > #title {
    text-align: left;
}

div > #paging {
    text-align: center;
}

.hit {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}

