.top__menu  {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height:50px;
    padding:10px 10px;
}
.top__menu--logo{
    font-size: 30px;
    font-weight: bolder;
}
.side__bar {
    background-color: #2A3542;
    color:white;
    width: 15%;
    height: 1000px;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: bold;
    display:inline-block;
}
.side__bar  .bar__item {
    padding: 20px 20px;
    margin : 20px 0px;
    border-style: solid;
    border-width: 2px;
}
.product__list--border  span{
    font-size: 30px;
    padding: 20px;
    display: block;
}
.product__list--border{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    top:-200px;
    left:120px;
    width:1000px;
    padding:20px;


}
.product__list--table{
    position: absolute;
    width:1000px;
    height:1000px;
    padding:10px;

}
.product__list--table2{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.product__list--table2 tr, td, th {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    width:980px;
}
.product__list--table2 thead th {
    background-color: #2A3542;
    color:white;
}


