.top__menu  {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height:50px;
    padding:10px 10px;
}
.top__menu--logo{
    font-size: 30px;
    font-weight: bolder;
}
.my__page{
    cursor:pointer;
}
.side__bar {
    background-color: #2A3542;
    color:white;
    width: 15%;
    height: 1000px;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: bold;
    display:inline-block;
}
.side__bar  .bar__item {
    padding: 20px 20px;
    margin : 20px 0px;

}
.input{
    display:inline-block;
    height:20px;
    position: relative;
    color:white;
    width:300px;



}
.input2 {
    position: absolute;
    top:-200px;
    left:20px;
    width:285px;
    height:300px;



}
.view__image{
    display: inline-block;
    position: absolute;
    left:400px;
    width:800px;
    height:400px;
    top:-190px;
    border-radius: 5px;
    border:1px solid white;
    background-color: white;
}

.input > .input2 p {
    text-align: center;
    display: block;
    width:277px;
    font-weight: bolder;
    font-size: 20px;
    margin:20px 5px;
    padding:5px;
    background-color: #2A3542;
    border-radius: 5px;
    border: 1px solid #2A3542;
}
.itemId, .itemName, .itemPrice , .itemUrl{
    font-weight: bolder;
    font-size: 20px;
    padding:5px;
    background-color: #2A3542;
    border-radius: 5px;
    background-color: white;
    margin:0;
    text-align: center;
    display: block;
}
.reset, .submit {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    background-color: #2A3542;
    border-radius: 5px;
    border: 1px solid #2A3542;
    color:white;
    padding: 5px;
    margin:10px 0;
    display:inline-block;
    float: right;
    margin-right:10px;
    cursor:pointer;
}
